@font-face{
	font-family: "lato";
	src:url("/static/css/fonts/Lato-Regular.3b9b99039cc0.ttf");
}

#regis_pic{
	height: 125px;
    width: 380px;
    margin: auto;
    margin-top: 25px;
}

#pic_regis{
	height: 100%;
    width: auto;
}

body{
	background-color: #bdc3c7;
	background-size: contain;
	background-image: url("/static/css/images/bg-ca.c3004a2a2678.png");
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
}

.form{
	width: 60%;
	margin: 0 auto 0 auto;
	font-family: "lato";
	background:rgba(1, 5, 32, 0.68);
	padding: 1px 15px;
	color: #FFF;
	font-weight: bold;
	border-radius: 10px;
	height: 420px;
}

#submit{
	top: 65px;
	position: relative;
	cursor: pointer;
	background: #16a085;
	width: 100px;
	margin: auto;
	left: 50%;
	margin-left: -50px;
	font-size: 1.3em;
	color: #FFF;
	border-radius: 5px;
	border-color: #16a085;
}

#submit:hover{
	background-color: rgb(1, 5, 32);
	border-color: rgb(1, 5, 32);
}

a{
	color: black;
}

.input{
	font-size: 1.3em;
	padding: 5px;
	border-radius: 5px;
}

#upper{
	position: relative;
	width: 100%;
	padding: 5px;
	margin: 0;
	height: 15%;
}

#lower{
	position: relative;
	width: 100%;
	padding: 5px;
	margin: 0;
	height: 40%;
}


.inp{
	position: absolute;
	width: 45%;
	padding: 5px;
}

.right{
	right: 20px;
}



#outer{
	width: 90%;
	margin: auto;
	padding: 5px;
}